<div class="footer">
  <div class="footer__top">
    <div class="footer__top-item footer__top-item--hide">
      <span class="footer__title" (click)="toggleShow($event)"
        >POLÍTICAS <span class="footer__title-plus">+</span></span
      >
      <a href="#">Políticas de privacidad</a>
      <a href="#">Políticas de cambio</a>
      <a href="#">Políticas de envío</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Responsabilidad social</a>
    </div>
    <div class="footer__top-item footer__top-item--hide">
      <span class="footer__title" (click)="toggleShow($event)"
        >SOBRE NOSOTROS<span class="footer__title-plus">+</span></span
      >
      <a href="#">Encuentra tu tienda</a>
      <a href="#">Contáctanos</a>
      <a href="#">Trabaja con nostros</a>
    </div>
    <div class="footer__top-item footer__top-item--hide">
      <span class="footer__title" (click)="toggleShow($event)"
        >SÍGUENOS EN:<span class="footer__title-plus">+</span></span
      >
      <div class="footer__social">
        <img src="/assets/images/icon-facebook.svg" alt="facebook" />
        <img src="/assets/images/icon-twitter.svg" alt="facebook" />
        <img src="/assets/images/icon-instagram.svg" alt="facebook" />
        <img src="/assets/images/icon-youtube.svg" alt="facebook" />
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__separator"></div>
    <span class="footer__copy">
      &copy; Copyright Colombia. Todos los derechos reservados
    </span>
  </div>
</div>
