<div class="product">
  <div
    class="product__discount"
    *ngIf="product.discount && product.discount > 0"
  >
    {{ product.discount }}%
  </div>
  <div class="product__img">
    <img [src]="product.thumbnail" alt="product" />
  </div>
  <div class="product__name">{{ product.title }}</div>
  <div class="product__pricing">
    <div class="product__pricing-left">
      {{ product.original_price | currency: "COP":"symbol-narrow":"3.0" }}
    </div>
    <div class="product__pricing-rigth">
      {{ product.price | currency: "COP":"symbol-narrow":"3.0" }}
    </div>
  </div>
  <div class="product__button">
    <button class="btn" (click)="toggleCart()">
      {{ product.inCart ? "Eliminar del carrito" : "Agregar al carrito" }}
    </button>
  </div>
</div>
