@import "../../../vars";
.toolbar {
  position: absolute;
  top: 0;
  z-index: 10;
  min-height: 135px;
  width: 100%;
  background-color: white;
  display: flex;
  flex: none;
  flex-direction: column;
  &__menu-icon {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
  &__buttons-rigth {
    display: flex;
    .btn {
      img {
        height: 54px;
        margin-right: 20px;
      }
      font-size: 29px;
      align-items: center;
    }
    .btn-login {
      display: none;
    }
  }
  &__top {
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 42px;
  }
  &__bottom {
    display: block;
    height: 0px;
  }
  &__logo {
    display: flex;
    flex: none;
    width: 367px;
    height: 78px;
  }
}

@media only screen and (min-width: $breakpoint) {
  .toolbar {
    &__top {
      margin: 0 65px;
    }
    &__menu-icon {
      display: none;
    }
    &__buttons-rigth {
      .btn-login {
        display: flex;
      }
    }
    &__bottom {
      display: block;
      height: 100px;
    }
    &__logo {
      width: 446px;
      height: 95px;
    }
  }
}
