<div class="toolbar">
  <div class="toolbar__top">
    <a href="#" class="toolbar__logo">
      <img src="/assets/images/logo.svg" alt="logo" />
    </a>
    <app-search-input></app-search-input>
    <div class="toolbar__buttons-rigth">
      <button class="btn">
        <img src="/assets/images/icon-cart.svg" alt="cart" />
      </button>
      <button class="btn">
        <img src="/assets/images/icon-user.svg" alt="user" /> Iniciar sesión
      </button>
    </div>
  </div>
  <div class="toolbar__bottom">
    <app-menu></app-menu>
  </div>
</div>
