/* You can add global styles to this file, and also import other style files */
$breakpoint: 768px;

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
.content {
  margin-top: 235px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  display: flex;
}
