/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";
@import "~swiper/components/navigation/navigation";
@import "./vars.scss";

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
.content {
  margin-top: 135px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  display: flex;
}

@media only screen and (min-width: $breakpoint) {
  .content {
    margin-top: 235px;
  }
}
